
<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">





    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">



    <!-- Custom Theme Style -->



</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <div class="right_col" role="main">

            <h1 align="center"><%= report.alertName %></h1>
            <br>

            <div class="col-md-12 col-sm-6 col-xs-12">

                <div class="row">


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="x_panel fixed_height_200">
                            <div class="x_title">
                                <h2><small>Sent to</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="dashboard-widget-content">



                                    <div class="sidebar-widget" width="150" height="80" >
                                        <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                                        <div class="goal-wrapper">
                                            <span id="gauge-text" class="gauge-value gauge-chart pull-left">0</span>
                                            <span class="gauge-value pull-left">%</span>
                                            <span id="goal-text" class="goal-value pull-right">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="x_panel fixed_height_200">
                            <div class="x_title">
                                <h2><small>Sent to</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="dashboard-widget-content">


                                    <div style="position: absolute; top: -10px; left: -10px">

                                        <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                                        <div class="goal-wrapper">
                                            <span id="gauge-text" class="gauge-value gauge-chart pull-left">0</span>
                                            <span class="gauge-value pull-left">%</span>
                                            <span id="goal-text" class="goal-value pull-right">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="x_panel fixed_height_200">
                            <div class="x_title">
                                <h2><small>Sent to</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="dashboard-widget-content">


                                    <div style="position: absolute; top: -10px; left: -10px">

                                        <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                                        <div class="goal-wrapper">
                                            <span id="gauge-text" class="gauge-value gauge-chart pull-left">0</span>
                                            <span class="gauge-value pull-left">%</span>
                                            <span id="goal-text" class="goal-value pull-right">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="x_panel fixed_height_200">
                            <div class="x_title">
                                <h2><small>Sent to</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="dashboard-widget-content">


                                    <div style="position: absolute; top: -10px; left: -10px">
                                        <div class="sidebar-widget">
                                        <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                                        <div class="goal-wrapper">
                                            <span id="gauge-text" class="gauge-value gauge-chart pull-left">0</span>
                                            <span class="gauge-value pull-left">%</span>
                                            <span id="goal-text" class="goal-value pull-right">100%</span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>










                <div class="col-md-12 col-sm-6 col-xs-1">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h2>Roles sent to</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">




                            <div>

                                <div class="x_content">
                                    <div class="dashboard-widget-content">
                                        <div class="sidebar-widget">
                                            <h4>Received by</h4>
                                        <canvas width="150" height="80" id="chart_gauge_02" class="" style="width: 160px; height: 100px;">30</canvas>
                                            <div class="goal-wrapper">
                                                <span id="gauge-text2" class="gauge-value gauge-chart pull-left"></span>
                                                <span class="gauge-value pull-left">&emsp;&emsp;&ensp; users out of</span>
                                                <span id="goal-text2" class="goal-value pull-right">48</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div>

                                <div class="x_content">
                                    <div class="dashboard-widget-content">
                                        <div class="sidebar-widget">
                                            <h4>Viewed by</h4>
                                            <canvas width="150" height="80" id="chart_gauge_03" class="" style="width: 160px; height: 100px;">15</canvas>
                                            <div class="goal-wrapper">
                                                <span id="gauge-text3" class="gauge-value gauge-chart pull-left"></span>
                                                <span class="gauge-value pull-left">&emsp;&emsp;&ensp; users out of</span>
                                                <span id="goal-text3" class="goal-value pull-right">30</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div>

                                <div class="x_content">
                                    <div class="dashboard-widget-content">
                                        <div class="sidebar-widget">
                                            <h4>Procedure completed</h4>
                                            <canvas width="150" height="80" id="chart_gauge_04" class="" style="width: 160px; height: 100px;">5</canvas>
                                            <div class="goal-wrapper">
                                                <span id="gauge-text4" class="gauge-value gauge-chart pull-left"></span>
                                                <span class="gauge-value pull-left">&emsp;&emsp;&ensp; users out of</span>
                                                <span id="goal-text4" class="goal-value pull-right">15</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div>

                                <div class="x_content">
                                    <div class="dashboard-widget-content">
                                        <div class="sidebar-widget">
                                            <h4>We are safe</h4>
                                            <canvas width="150" height="80" id="chart_gauge_05" class="" style="width: 160px; height: 100px;">15</canvas>
                                            <div class="goal-wrapper">
                                                <span id="gauge-text5" class="gauge-value gauge-chart pull-left"></span>
                                                <span class="gauge-value pull-left">&emsp;&emsp;&ensp; users out of</span>
                                                <span id="goal-text5" class="goal-value pull-right">15</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>









            </div>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-1">
                <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_title">
                        <h2>Roles sent to</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="" style="width:100%">
                            <tr>
                                <th style="width:37%;">
                                    <p>Top 5</p>
                                </th>
                                <th>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <p class="">Roles</p>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p align="right" class="">Number of users</p>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square blue"></i>Teacher </p>
                                            </td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square green"></i>Principal </p>
                                            </td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square purple"></i>Office Staff </p>
                                            </td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square aero"></i>Nurse </p>
                                            </td>
                                            <td>15</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square red"></i>Staff </p>
                                            </td>
                                            <td>30</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Users sent to</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="list-unstyled msg_list">
                            <li class="image">
                                <img src="/public/photosUsers/5a7390ed14e9700f20a38d19_01016.BMP" class="avatarSentUsers" alt="Avatar" />
                                <span><span>&ensp;Rosetta Mark</span><span class="time" style="color: #18c09c; font-size: 11px; position: absolute; right: 35px;"><i><b>completed</b></i></span></span>

                                <span class="message" style="font-size: 11px; position: absolute; left: 53px"><br>
                                    received: <span style="color: #18c09c">yes</span> &ensp;
                                    viewed: <span style="color: #18c09c">yes</span> &ensp;
                                    procedure done: <span style="color: #18c09c">yes</span> &ensp;
                                    we are safe: <span style="color: #18c09c">yes</span> &ensp;
                                </span>
                            </li>

                            <li class="image">
                                <img src="/public/photosUsers/5858436a4f98f0ac16fd679b_01015.BMP" class="avatarSentUsers" alt="Avatar" />
                                <span><span>&ensp;Laura Ledo</span><span class="time" style="color: #18c09c; font-size: 11px; position: absolute; right: 35px;"><i><b>completed</b></i></span></span>

                                <span class="message" style="font-size: 11px; position: absolute; left: 53px"><br>
                                    received: <span style="color: #18c09c">yes</span> &ensp;
                                    viewed: <span style="color: #18c09c">yes</span> &ensp;
                                    procedure done: <span style="color: #18c09c">yes</span> &ensp;
                                    we are safe: <span style="color: #18c09c">yes</span> &ensp;
                                </span>
                            </li>

                            <li class="image">
                                <img src="/public/photosUsers/5858785ee7cecb50312160ca_01020.BMP" class="avatarSentUsers" alt="Avatar" />
                                <span><span>&ensp;Kelly Mills</span><span class="time" style="color: #f4a82e; font-size: 11px; position: absolute; right: 35px"><i><b>not completed</b></i></span></span>

                                <span class="message" style="font-size: 11px; position: absolute; left: 53px"><br>
                                    received: <span style="color: #18c09c">yes</span> &ensp;
                                    viewed: <span style="color: #18c09c">yes</span> &ensp;
                                    procedure done: <span style="color: #e76146">no</span> &ensp;
                                    we are safe: <span style="color: #e76146">no</span> &ensp;
                                </span>
                            </li>

                            <li class="image">
                                <img src="/public/photosUsers/58587741da3d90fc25acedee_01011.BMP" class="avatarSentUsers" alt="Avatar" />
                                <span><span>&ensp;Mary Kate</span><span class="time" style="color: #18c09c; font-size: 11px; position: absolute; right: 35px"><i><b>completed</b></i></span></span>

                                <span class="message" style="font-size: 11px; position: absolute; left: 53px"><br>
                                    received: <span style="color: #18c09c">yes</span> &ensp;
                                    viewed: <span style="color: #18c09c">yes</span> &ensp;
                                    procedure done: <span style="color: #18c09c">yes</span> &ensp;
                                    we are safe: <span style="color: #18c09c">yes</span> &ensp;
                                </span>
                            </li>

                            <!-- last user, picture and name need to be manual position -->
                            <li class="image">
                                <img style="position: absolute; left: 16px; bottom: 16px;" src="/public/photosUsers/5925bc2e21ac1ac43aa1261a_01006.BMP" class="avatarSentUsers" alt="Avatar" />
                                <span><span>&emsp;&emsp;&ensp;Denise Clifford</span><span class="time" style="color: #e76146; font-size: 11px; position: absolute; right: 35px"><i><b>not completed</b></i></span></span>

                                <span class="message" style="font-size: 11px; position: absolute; left: 53px"><br>
                                    received: <span style="color: #18c09c">yes</span> &ensp;
                                    viewed: <span style="color: #e76146">no</span> &ensp;
                                    procedure done: <span style="color: #e76146">no</span> &ensp;
                                    we are safe: <span style="color: #e76146">no</span> &ensp;
                                </span>
                            </li>
                            <!-- end of last user, picture and name need to be manual position -->

                        </ul>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="x_panel">
                        <div class="x_content">

                           somethong else...





                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <% include ../layout/footer.ejs %>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/public/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/public/gentelella/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/public/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/public/gentelella/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/public/gentelella/vendors/Flot/jquery.flot.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.time.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/public/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/public/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/public/gentelella/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/public/gentelella/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/public/gentelella/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/public/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/public/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/public/gentelella/vendors/moment/min/moment.min.js"></script>
<script src="/public/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>



<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/reportDetails.js"></script>


</body>

</html>
