<html>
<head>
    <title>show Alert Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<img class="logo" src="/snapshotDetails/<%= details.details %>"><br><br>



<form action="/reports/showReports">
    <input type="submit" value="Back">
</form>
</body>
</html>