<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- NProgress -->
    <link href="/public/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- JQVMap -->
    <link href="/public/gentelella/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>

    <!-- bootstrap-daterangepicker -->
    <link href="/public/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/reportDetails.css" rel="stylesheet">


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />
                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->


        <!-- if iPad -->
        <% var h2FontSize = 22 %>
        <% var aFontSize = 12 %>
        <% var spanFontSize = 13 %>
        <% if(iPad){ %>
        <% h2FontSize = 22 %>
        <% aFontSize = 15 %>
        <% spanFontSize = 15 %>
        <% } %>
        <!-- /if iPad -->

        <div class="right_col" role="main">
            <div class="">

                <!-- top tiles -->
                <div class="col-md-12 col-sm-12">
                    <div class="tile_count" align="center">
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-user-graduate"></i> Total Students</span>
                            <div class="count">620</div>
                            <span class="count_bottom"><i class="green">4% </i> From last year</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-users"></i> Total School Users</span>
                            <div class="count">50</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last year</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-user-friends"></i> Total Parents</span>
                            <div class="count green">1,200</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last year</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-users-cog"></i> Total External Users</span>
                            <div class="count">15</div>
                            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last year</span>
                        </div>
                    </div>
                </div>
                <!-- /top tiles -->


                <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- Fastest user to view alerts. -->
                <div class="top_tiles">

                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <% if(iPad){ %>
                        <br>
                        <% } %>
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-fighter-jet" style="position: relative; right: 5px"></i></div>
                            <div class="count">7 sec</div>
                            <h3>Jean Leahy</h3>
                            <p>Fastest user to view alerts.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <% if(!iPad){ %>
                        <div style="line-height:140%;"><br></div> <!-- smaller br -->
                        <% } %>
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-car"></i></div>
                            <div class="count">33 sec</div>
                            <h3>.</h3>
                            <p>Average users time to view alerts.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <% if(!iPad){ %>
                        <div style="line-height:140%;"><br></div> <!-- smaller br -->
                        <% } %>
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-bicycle" style="position: relative; right: 5px"></i></div>
                            <div class="count">5 min</div>
                            <h3>Helen Hicks</h3>
                            <p>Slowest user to view alerts.</p>
                        </div>
                    </div>
                </div>
                <!-- /Fastest user to view alerts. -->
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <% if(iPad){ %>
                    <br>
                    <% } %>
                <!-- Top 5 users sending alerts -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_414 overflow_hidden">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px; width: 148px">Top 5<a style="font-size: <%= aFontSize %>px">&emsp;sending alerts</a></h2>

                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">sending alerts</a>
                                        </li>
                                        <li><a href="#">faster viewing alerts</a>
                                        </li>
                                        <li><a href="#">slowest viewing alerts</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="clearfix"></div>
                        </div>
                        <ul class="list-unstyled top_profiles scroll-view">
                            <li class="media event">
                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Mary Kate</a>
                                    <p><strong>52 </strong> alerts sent </p>
                                    <p> <small>118 since 2018</small>
                                    </p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left border-green profile_thumb">
                                    <i class="fa fa-user green"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Mary Kate</a>
                                    <p><strong>52 </strong> alerts sent </p>
                                    <p> <small>Teacher</small>
                                    </p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left border-blue profile_thumb">
                                    <i class="fa fa-user blue"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Mary Kate</a>
                                    <p><strong>52 </strong> alerts sent </p>
                                    <p> <small>118 since 2018</small>
                                    </p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Mary Kate</a>
                                    <p><strong>52 </strong> alerts sent </p>
                                    <p> <small>118 since 2018</small>
                                    </p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left border-green profile_thumb">
                                    <i class="fa fa-user green"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Mary Kate</a>
                                    <p><strong>52 </strong> alerts sent </p>
                                    <p> <small>118 since 2018</small>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <% if(iPad){ %>
                        <br><div style="line-height:50%;"><br></div> <!-- smaller br -->
                        <% } %>
                    </div>
                </div>
                <!-- /Top 5 users sending alerts -->


                <!-- Top 5 users viewing alerts -->
                    <!-- slowest Top 5 users viewing alerts -->
                </div>



                <!-- Top Roles -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel fixed_height_414">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px;">Top 4<a style="font-size: <%= aFontSize %>px">&emsp;sent by role</a></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content2">
                            <div id="graph_donut" style="width:100%; height:300px;"></div>
                        </div>
                    </div>
                </div>
                <!-- /Top Roles -->







                <!-- User Stats -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Contacts Design</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <ul class="pagination pagination-split">
                                                <li><a href="#">A</a></li>
                                                <li><a href="#">B</a></li>
                                                <li><a href="#">C</a></li>
                                                <li><a href="#">D</a></li>
                                                <li><a href="#">E</a></li>
                                                <li>...</li>
                                                <li><a href="#">W</a></li>
                                                <li><a href="#">X</a></li>
                                                <li><a href="#">Y</a></li>
                                                <li><a href="#">Z</a></li>
                                            </ul>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosUsers/5b1592593cc6e0004815bbf6_01012.BMP" alt="" class="avatarUserStat">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UI. </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UI. </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UI. </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/img.jpg" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UI. </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UI. </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UI. </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Digital Strategist</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Nicole Pearson</h2>
                                                        <p><strong>About: </strong> Web Designer / UI. </p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: </li>
                                                            <li><i class="fa fa-phone"></i> Phone #: </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="images/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>4.0</a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i> </button>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> View Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User Stats -->






                <div class="clearfix"></div>


            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../layout/footer.ejs %>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>

<!-- Chart.js -->
<script src="/public/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>

<!-- morris.js -->
<script src="/public/gentelella/vendors/raphael/raphael.min.js"></script>
<script src="/public/gentelella/vendors/morris.js/morris.min.js"></script>

<!-- Skycons -->
<script src="/public/gentelella/vendors/skycons/skycons.js"></script>

<!-- Flot -->
<script src="/public/gentelella/vendors/Flot/jquery.flot.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.time.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/public/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/public/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/public/gentelella/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/public/gentelella/vendors/DateJS/build/date.js"></script>

<!-- JQVMap -->
<script src="/public/gentelella/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/public/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/public/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.usa.js"></script>
<script src="/public/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="/public/gentelella/vendors/moment/min/moment.min.js"></script>
<script src="/public/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/reportDetails.js"></script>
<!-- Google Analytics -->

</body>

</html>