<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/center.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to School Mobile Emergency Communication System  Please</p>
    <a href="/login">login</a> to continue!<br><br><br><br>
    <a href="/public/apk/SMECS.apk">download app <img style="width: 30px" src="/public/apk/android_logo.png"></a>
  </body>
</html>
