<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SMECS</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/public/website/img/favicon3.png" rel="icon">
  <link href="/public/website/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/public/website/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/public/website/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/public/website/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/website/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/public/website/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/public/website/css/style.css" rel="stylesheet">
  <link href="/public/website/css/style2.css" rel="stylesheet">

  <!-- ionicons 4.5.5 -->
  <!-- <link href="https://unpkg.com/ionicons@4.5.10-1/dist/css/ionicons.min.css" rel="stylesheet"> -->

</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="logo2">
      <a href="#intro" class="scrollto"><img src="public/website/img/logo3.png" class="" alt="" title=""></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="public/website/img/logo.png" alt="" title=""></a> -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#intro">Home</a></li>
        <li><a href="#about">Intro</a></li>
        <li><a href="#features">Modules</a></li>
        <li><a href="#more-features">Features</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">

  <div class="intro-text">
    <h2>Welcome to SMECS</h2>
    <p>School Mobile Emergency Comunication System</p>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>

  <div class="product-screens">

    <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
      <img src="public/website/img/iPhoneX_3.png" alt="">
    </div>

    <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
      <img src="public/website/img/sg s6 edge_300x642.png" alt="">
    </div>

    <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
      <img src="public/website/img/macbook3.png" alt="">
    </div>

  </div>

</section><!-- #intro -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about" class="section-bg">
    <div class="container-fluid">
      <div class="section-header">
        <h3 class="section-title">Intro</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          Here is a short video explaining some capabilities of SMECS app<br>
          in comparison to other solutions such as walkie talkies or PAs
        </p>
      </div>
      <div class="sizer">
        <div class="embed-responsive embed-responsive-16by9">
          <!-- add ?rel=0 to the end of URL to remove suggested videos at the end-->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WaJ_SC6Zalw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Product Featuress Section
  ============================-->
  <section id="features">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 offset-lg-4">
          <div class="section-header wow fadeIn" data-wow-duration="1s">
            <h3 class="section-title">Product Modules</h3>
            <span class="section-divider"></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 features-img">
          <img src="public/website/img/iPhoneX_hand_2.png" alt="" class="wow fadeInLeft">
        </div>

        <div class="col-lg-8 col-md-7 ">

          <div class="row">

            <div class="col-lg-6 col-md-6 box wow fadeInRight">
              <div class="icon"><i class="ion-ios-bell-outline"></i></div>
              <h4 class="title"><a href="">I - Alerts</a></h4>
              <p class="description">Send and Receive alerts instantaneously. This module is the core of the app.</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
              <div class="icon"><i class="ion-ios-lightbulb-outline"></i></div>
              <h4 class="title"><a href="">II - Lights</a></h4>
              <p class="description">Choose witch classrooms will have a visible alert. Lights can be very discrete for aggressors not understand alert was triggered. There is also an option for lights to emit sound.</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="icon ion-ios-pulse"></i></div>
              <h4 class="title"><a href="">III - Panic Button</a></h4>
              <p class="description">Our Panic buttons are portable, so put on a wall, under desk or in your pocket or purse.</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon"><i class="ion-ios-videocam-outline"></i></div>
              <h4 class="title"><a href="">IV - Cameras</a></h4>
              <p class="description">Have a live view of the area where alert was sent or surrounding area.</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon"><i class="ion-ios-locked-outline"></i></div>
              <h4 class="title"><a href="">V - Lock Doors</a></h4>
              <p class="description">The SMECS app has the ability to lock doors depending on the type of alert.</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon"><i class="ion-ios-mic-outline"></i></div>
              <h4 class="title"><a href="">VI - PA</a></h4>
              <p class="description">This module allows to interact with a PA style device that has bidirectional audio/mic capabilities.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- #features -->

  <!--==========================
    Product Advanced Featuress Section
  ============================-->
  <section id="advanced-features">

    <div class="features-row section-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img class="advanced-feature-img-right wow fadeInRight" src="public/website/img/iPhoneX_realDrillDemo2.png" alt="">
            <div class="wow fadeInLeft">
              <h2>3 Alert Modes</h2>
              <h3>When sending alerts, you can choose between 3 types:</h3>
              <p><span class="realColor">REAL</span>, means the actual situation is happening.</p>
              <p><span class="drillColor">DRILL</span>, you will be able to run tests for when the real situation happens, everybody will be be prepare. Receiving groups, will get notified that you are sending a DRILL alert</p>
              <p><span class="demoColor">DEMO</span>, this mode actually doesn't send any alert. The propose is to let you become familiar on how to send an alert without annoying anybody with false alerts. When needed to send a REAL or DRILL alert, you will know already what to expect about screens/questions/buttons.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img class="advanced-feature-img-left" src="public/website/img/viewProcedureSafe_80perc.png" alt="">
            <div class="wow fadeInRight">
              <h1></h1>
              <h2>Real Time Monitoring</h2>
              <h3>When an alert is sent, you can monitor in real time on your desktop/laptop, iPad or cellphone the status and details of the alert sent. Some of that details are:</h3>
              <p></p>

              <i class="icon ion-archive sizeIconIonIcon wow fadeInRight" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-duration="0.5s">RECEIVED BY. Know who got the alert in their device and at what time alert was received.</p>

              <i class="fa fa-eye wow sizeIconFontAwesome fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">VIEWED BY. If people received alert, know who had viewed the alert received.</p>

              <i class="ion-ios-paper-outline sizeIconIonIcon wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">PROCEDURE FINISHED. Who completed the "Procedure" requested for the alert sent.</p>

              <i class="fa fa-thumbs-o-up sizeIconFontAwesome wow fadeInRight" data-wow-delay="0.6" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="0.5s">WE ARE SAFE. If teachers and their children class aren't in dangerous, they can let know they are safe.</p>

              <i class="fa fa-life-buoy sizeIconFontAwesome wow fadeInRight" data-wow-delay="0.8" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="0.5s">NEED HELP. If somebody needs help during and alert, you will know and you can also know if somebody is on their way to help who requested help.</p>

              <i class="icon ion-ios-telephone-outline sizeIconIonIcon wow fadeInRight" data-wow-delay="1.0" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-delay="1.0s" data-wow-duration="0.5s">911. If alert request users to call 911, know if somebody already called and who called.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="features-row section-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img class="advanced-feature-img-right wow fadeInRight" src="public/website/img/macbook5.png" alt="">
            <div class="wow fadeInLeft">
              <h2>Dashboard Controller</h2>
              <h3>Access to SMECS Dashboard anywhere in world. You can manage everthing such as:</h3>
              <i class="icon ion-ios-settings"></i>
              <p>Who can send/receive alerts. Manage school staff, students, parents. Alerts & lights settings. Buildings, floors, room plans. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #advanced-features -->

  <!--==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Download App</h3>
          <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-lg-3">
          <div class="cta-btn-container text-center">
            <a class="align-middle" href="#"><img class="downloadLogos" src="public/website/img/appleStore.png"></a>
          </div>
          <br>
          <div class="cta-btn-container text-center">
            <a class="align-middle" href="#"><img class="downloadLogos" src="public/website/img/googleStore.png"></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #call-to-action -->

  <!--==========================
 More Features Section
============================-->
  <section id="more-features" class="section-bg">
    <div class="container">

      <div class="section-header">
        <h3 class="section-title">More Features</h3>
        <span class="section-divider"></span>
        <p class="section-description">Here are just some few other features but there are much more...</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="icon ion-ios-browsers-outline"></i></div>
            <h4 class="title"><a href="">Alert Groups</a></h4>
            <p class="description">Choose between showing alerts by groups or just show all of them in same page.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="icon ion-ios-alarm-outline"></i></div>
            <h4 class="title"><a href="">Alert schedule</a></h4>
            <p class="description">Schedule all your drill alerts in the beginning of the school year and don't worry in having to remember when to send them.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="icon ion-person-stalker"></i></div>
            <h4 class="title"><a href="">Roles</a></h4>
            <p class="description">Send alerts just to specific groups of people.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="icon ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Procedures</a></h4>
            <p class="description">Know what to do when you receive an alert. Procedure for alert received is showed</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="icon ion-stats-bars"></i></div>
            <h4 class="title"><a href="">Statistics</a></h4>
            <p class="description">Check statistics related to alerts, devices or see who is using SMECS App the right way or who needs more assistance.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="icon ion-earth"></i></div>
            <h4 class="title"><a href="">World wide Panic warning</a></h4>
            <p class="description">Know in real time when any other school sends a Panic Alert. You will be able to take the right precautions.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="icon ion-ios-chatbubble-outline"></i></div>
            <h4 class="title"><a href="">Parents Chat</a></h4>
            <p class="description">Teachers can communicate with parents easily.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="icon ion-wrench"></i></div>
            <h4 class="title"><a href="">Utilities</a></h4>
            <p class="description">Is school having problems with Gas, Electric, Water pipes,IT, etc., tec.? Send a request assistance to that company at ease.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- #more-features -->




  <!--==========================
    Frequently Asked Questions Section
  ============================-->
  <section id="faq">
    <div class="container">

      <div class="section-header">
        <h3 class="section-title">Frequently Asked Questions</h3>
        <span class="section-divider"></span>
        <p class="section-description">If your question isn't answered below, don't hesitate to send us an email with your question</p>
      </div>

      <ul id="faq-list" class="wow fadeInUp">
        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">Do we need to buy user or devices licenses? <i class="ion-android-remove"></i></a>
          <div id="faq1" class="collapse" data-parent="#faq-list">
            <p>
              No. You can add as many users as you want. App can be installed in multiple devices as well. Short answer, SMECS is UNLIMITED! We try our best to keep SMECS free. Although, there is a year recurring cost to be able to maintain SMECS servers running independent of number of users or devices. It's a fixed cost.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">I work on 2 schools that uses SMECS app. do I need to install app for each school? <i class="ion-android-remove"></i></a>
          <div id="faq2" class="collapse" data-parent="#faq-list">
            <p>
              No. SMECS app works with multiple schools. If you receive an alert, SMECS app will tell you from which school the alert was sent.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">If my school sends an alert, do the other schools receive it too? <i class="ion-android-remove"></i></a>
          <div id="faq3" class="collapse" data-parent="#faq-list">
            <p>
              Principals of each school can decide which alerts are sent to other schools. They also have the ability to block or not to receive alerts sent from other schools.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed">My school was poor cell reception. Will SMECS work? <i class="ion-android-remove"></i></a>
          <div id="faq4" class="collapse" data-parent="#faq-list">
            <p>
              SMECS app needs a cellPhone to have cell reception or to be connected to a wireless network with internet. If you have internet on your cellphone, you will receive the alerts no matter where you are!
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq5" class="collapsed">In our school, we don't want to receive a visual/light alerts. Is that possible? <i class="ion-android-remove"></i></a>
          <div id="faq5" class="collapse" data-parent="#faq-list">
            <p>
              Yes. Visual/Lighs alerts can be turned off. Principal can decide which alerts or which rooms will receive visual/light alerts. Visual/Light alerts can be also discrete so aggressors will not know an alert was issued.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq6" class="collapsed">Will parents receive alerts? <i class="ion-android-remove"></i></a>
          <div id="faq6" class="collapse" data-parent="#faq-list">
            <p>
              Yes. The Principal of each school can decide which alerts can also be sent to parents.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- #faq -->


  <!--==========================
    Contact Section
  ============================-->
  <section id="contact">
    <div class="container">
      <div class="row wow fadeInUp">

        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3>SMECS</h3>
            <p>SMECS was developed by Bansheeus.com and company is situated on south shore of Massachusetts.</p>
            <div class="social-links">

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="ion-ios-location-outline"></i>
              <p>South shore Massachusetts</p>
            </div>

            <div>
              <i class="ion-ios-email-outline"></i>
              <p>smecs@bansheeus.com</p>
            </div>

            <div>
              <i class="ion-ios-telephone-outline"></i>
              <p>1 (781) 499 - 2959</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">

</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="/public/website/lib/jquery/jquery.min.js"></script>
<script src="/public/website/lib/jquery/jquery-migrate.min.js"></script>
<script src="/public/website/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/website/lib/easing/easing.min.js"></script>
<script src="/public/website/lib/wow/wow.min.js"></script>
<script src="/public/website/lib/superfish/hoverIntent.js"></script>
<script src="/public/website/lib/superfish/superfish.min.js"></script>
<script src="/public/website/lib/magnific-popup/magnific-popup.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="/public/website/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/public/website/js/main.js"></script>

</body>
</html>
