<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta, Refresh page every 5 minutes. -->
    <!--  <meta http-equiv="refresh" content="300"> -->


    <title>SMECS Login</title>

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/public/gentelella/vendors/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.min.css" rel="stylesheet">

    <!-- refresh csrf token every 10min if browser is active or refresh right away if browser is hidden and is brought active  -->
    <script type="text/javascript">
        function Redirect()
        {
            window.location="/login";
        }
        setTimeout('Redirect()', 600000);

        //if browser is hidden and is brought to active, refresh page
        document.addEventListener( 'visibilitychange' , function() {
            if (document.hidden) {
                //console.log('bye');
            } else {
                //console.log('well back');
                setTimeout('Redirect()', 1);
            }
        }, false );
    </script>
    <!-- /refresh csrf token every 10min if browser is active or refresh right away if browser is hidden and is brought active  -->

</head>

<body class="login">
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <% if (error) { %>
                <% if (error == '403') { %>
                    <div class="alert alert-warning" role="alert">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        Sorry, we will need you to input your email and pin again
                    </div>
                <% } %>
                <% if (error == 'TimeOut') { %>
                    <div class="alert alert-warning" role="alert">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        Session expired. Please, insert your email and pin again
                    </div>
                <% } %>
                <% if (error == 'Registration completed') { %>
                    <div class="alert alert-success" role="alert">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        Registration completed, please use your new email and pin to login
                    </div>
                <% } %>
                <% if (error == 'Success! An e-mail has been sent with further instructions.') { %>
                    <div class="alert alert-success" role="alert">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        Success! An e-mail has been sent with further instructions.
                    </div>
                <% } %>
                <% if (error == 'There was a problem sending email with further instructions! If problem persists contact SMECS support') { %>
                    <div class="alert alert-warning" role="alert">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        There was a problem sending email with further instructions! If problem persists contact SMECS support
                    </div>
                <% } %>
                <% if (error == 'Success! Your Pin has been changed.') { %>
                    <div class="alert alert-success" role="alert">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        Success! Your Pin has been changed.
                    </div>
                <% } %>

                <% if (error == 'Incorrect email or pin') { %>
                    <div class="alert alert-danger" role="alert">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        Incorrect email or pin, please try again.
                    </div>
                <% } %>
            <% } %>

            <% if ( error_messages ) { %>
                <p style="color: red"><%= error_messages %></p>
            <% } %>
            <form action="/login" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <h1>Login</h1>
                <div>
                    <input type="email" name="email" class="form-control" placeholder="Email" required="" />
                </div>
                <div>
                    <input type="password" name="pin" class="form-control" placeholder="Pin" required="" />
                </div>
                <div>
                    <button class="btn btn-default submit" type="submit" value="Login">Login</button>
                    <a class="to-register" href="/forgot">Lost your password?</a>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div class="clearfix"></div>
                    <br>
                    <div>
                        <h1>
                            <i class="fa fa-graduation-cap"></i> SMECS</h1>
                        <p>©2019 All Rights Reserved.</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>

