<html>



<!-- Bootstrap -->
<link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/public/gentelella/vendors/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">


<!-- Custom Theme Style -->
<link href="/public/gentelella/build/css/custom.min.css" rel="stylesheet">


<head>
    <title>reset password</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){
            var token, pin, confirmPin;
            $("#btSubmit").click(function(){
                token=$("#token").val();
                pin=$("#pin").val();
                confirmPin=$("#confirmPin").val();


                //-----forms validation------------------------------------
                var pinFormat=/^\d{4}$/;
                if (!pinFormat.test(pin)) {
                    alert("Pin code should be 4 digits ");
                    return false;
                }
                if (!pinFormat.test(confirmPin)) {
                    alert("Confirm Pin code should be 4 digits ");
                    return false;
                }
                if (pin != confirmPin) {
                    alert("Pin and Confirm Pin don't match!");
                    return false;
                }
                //--------------------------------forms validation end-------

                $.post("/reset/:token",{
                    userToUpdate: token,
                    pin: pin
                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    console.log('data = ',data);
                    window.location = data.redirect
                });
            });
        });
    </script>
</head>

<body class="login">
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">

            <form>
                <h1><%= title %></h1>

                <input type="hidden" id="token" size="40" value="<%= user.resetPasswordToken %>">

                <div>
                <input type="password" name="pin" class="form-control" id="pin" size="40" placeholder="New Pin">
                </div>
                <div>
                <input type="password" name="confirmPin" class="form-control" id="confirmPin" size="40" placeholder="Confirm Pin">
                </div>
                <button class="btn btn-default submit" type="submit" id="btSubmit" value="Update Password">Update Pin</button>

                <div class="separator">
                    <div class="clearfix"></div>
                    <br>
                    <div>
                        <h1>
                            <i class="fa fa-graduation-cap"></i> SMECS</h1>
                        <p>©2019 All Rights Reserved.</p>
                    </div>
                </div>
            </form>

        </section>
    </div>


</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>