<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/customCropPhoto.css" rel="stylesheet">

    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        var al = 0;
        function progressBarSim() {
            var imgVal = $('#fileInput').val();
            if(imgVal=='')
            {
                alert("Please, choose a file");
                return false;
            }
            $("#fileInputDiv").hide();
            $("#fileInput").hide();
            $("#progressBarDiv").show();
            $("#progressBar").show();
            $("#status").show();
            $("#finalMessage").show();
            var bar = document.getElementById('progressBar');
            var status = document.getElementById('status');
            status.innerHTML = al+"%";
            bar.value = al;
            al++;
            var sim = setTimeout("progressBarSim("+al+")",10);
            if(al == 100){
                status.innerHTML = "100%";
                bar.value = 200;
                clearTimeout(sim);
                var finalMessage = document.getElementById('finalMessage');
                finalMessage.innerHTML = "Process almost complete! please wait...";
            }
        }

        $(document).ready(function () {

            $("#cancel").click(function () {
                window.location = '/students/showStudents'
            });

        });
    </script>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />
                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->

        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3><%= title %></h3>
                    </div>


                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><small>Add/update/delete multiple students photos</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        The name of files chosen, need to have the student IDs
                                        <br><br>
                                    </label>
                                </div>





                                <form action="/students/addMultiImage" enctype="multipart/form-data" method="post">

                                    <div class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-md-5 col-sm-5 col-xs-12">Files: <span class="required" style="color: red">*</span> :</label>


                                            <input type="file"
                                                   name="file"
                                                   id="fileInput"
                                                   class="col-md-4 col-sm-4 col-xs-12 btn btn-default"
                                                   multiple="multiple"
                                                   accept="image/*"
                                                   required/>

                                            <div id="progressBarDiv" class="col-md-4 col-sm-4 col-xs-12 progressBarDiv">
                                                <progress id="progressBar" value="0" max="100" class="col-md-4 col-sm-4 col-xs-12 progressBarOnTop"></progress>
                                                <span id="status" class="col-md-4 col-sm-4 col-xs-12 progressBarOnTopStatus"></span>
                                            </div>

                                        </div>

                                        <div align="center" id="finalMessage" class="finalMessage">
                                            <span class="col-md-12 col-sm-12 col-xs-12"></span>
                                        </div>

                                        <div class="ln_solid"></div>


                                        <div align="center">
                                            <button  class="btn btn-default" id="cancel">cancel</button>
                                            <input type="submit" value="Upload" class="btn btn-success" onclick="progressBarSim()">
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- /page content -->

    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>




<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/customCropPhoto.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>