<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/customCropPhoto.css" rel="stylesheet">

    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        var al = 0;
        function progressBarSim() {
            var bar = document.getElementById('progressBar');
            var status = document.getElementById('status');
            status.innerHTML = al+"%";
            bar.value = al;
            al++;
            var sim = setTimeout("progressBarSim("+al+")",5);
            if(al == 100){
                status.innerHTML = "100%";
                bar.value = 100;
                clearTimeout(sim);
                var finalMessage = document.getElementById('finalMessage');
                finalMessage.innerHTML = "Process almost complete! please wait...";
            }
        }

        $(document).ready(function () {

        });
    </script>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />
                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->

        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3><%= title %></h3>
                    </div>


                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><small>Add/update/delete multiple students photos</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">




                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div align="center">
                                            <form action="/students/addMultiImage" enctype="multipart/form-data" method="post">
                                                <input multiple="multiple" name="upload" id="upload" type="file" accept="image/*" /><br>

                                                <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
                                                <span id="status"></span>
                                                <h3 id="finalMessage"></h3>

                                                <div class="ln_solid"></div>

                                                <div>
                                                    <a href="/students/showStudents"><button  class="btn btn-default">cancel</button></a>
                                                    <input type="submit" value="Upload" class="btn btn-success" onclick="progressBarSim()">
                                                </div>


                                            </form>

                                        </div>



                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- /page content -->

    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>




<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/customCropPhoto.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>