div.disable {
    background-color: ghostwhite;
    border: solid 1px #ccc;
    margin: auto 0em;
    padding: 1em;
    width: 292px;

    list-style: none;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;

}
div.enable {
    background-color: #fff;
    border: solid 1px #ccc;
    margin: auto 0em;
    padding: 1em;
    width: 292px;

    visibility: visible;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;

}




ul.enable {
    list-style-type: none;
    width: 20em;
    margin: 0.3em 0;
    padding: 10px;
    background: #ffffff;
    border: solid 1px #ccc;
}
ul.disable {
    list-style-type: none;
    width: 20em;
    margin: 0.3em 0;
    padding: 10px;
    background: #ffffff;
    pointer-events: none;
    border: solid 1px #ccc;
}

ul.enable li {
    background: #DEF url("./../miscPictures/cross_bright.png") no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: pointer;
    color: #46A;
    font-weight: bold;
    border: solid 1px #CDE;

}
ul.disable li {
    background: #ced8ec url("./../miscPictures/cross_bright_disable.png") no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: default;
    color: #444444;
    font-weight: bold;
    border: solid 1px #CDE;
    pointer-events: none;
}

select.enable {
    width: 18.5em;
    color: #46A;
    font-weight: bold;
}
select.disable {
    width: 18.5em;
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

img.enable {
    content:url("./../miscPictures/add.png");
    cursor: pointer;
}
img.disable {
    content:url("./../miscPictures/add_disable.png");
    pointer-events: none;
    cursor: default;
}

label.enable {

    font-weight: bold;
}
label.disable {
    color: #444444;
    font-weight: bold;
}

a.enable {
    color: #46A;
    font-weight: bold;
}
a.disable {
    color: #444444;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.fontColor { color: #0D3349; }

.fontColor2 { color: black; }







input[type=checkbox] + label {

    /* box size*/
    width: 20px;
    height: 20px;

    border: 3px solid #ccd0ce;
    border-radius: 20%;

    /* box position*/
    margin-left: 10px;
    margin-top: 15px;
    transform: translate(-50%, -50%);
    transition: all ease-out 200ms;
    text-indent: 10px;
    font: normal normal 10px/10px "Helvetica";
    white-space: nowrap;
    color: #ccd0ce;
    background-color: #fafafa;
    user-select: none;
}
input[type=checkbox] + label:after {
    content: "";
    position: absolute;

    /* arrow transition when checked and unchecked */
    width: 0px;
    height: 0px;

    /* arrow left line border size and right line border size */
    border-bottom: 4px solid #18c09c;
    border-left: 6px solid #18c09c;

    border-radius: 20%;

    /* arrow position */
    top: 20%;
    left: 50%;

    transform-origin: bottom left;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all ease-out 200ms;
}

input[type=checkbox]:checked + label {
    border: 3px solid #ccd0ce;
}
input[type=checkbox]:checked + label:after {
    opacity: 1;

    /* arrow left line size and right line size */
    width: 25px;
    height: 10px;
}

#checkboxProc {
    display: none;
}
#checkboxSafe {
    display: none;
}
#checkboxNeedHelp {
    display: none;
}
