body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


}

h2 {
    margin:0 0 .5em 0;
}

a {
    color: #00B7FF;
}

#wrapper {
    padding-left:312px;
    position:relative;
}

#userList {
    margin:0 0 30px 0;
}
table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
    width: 65%;

}
table th:not([bgcolor]) {
    background-color:#EEE;
    font-weight:400;
    padding:5px 20px;
    width: 1px;
    white-space: nowrap;

}
table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
table td:not([bgcolor]) {
    background-color:#FFF;
    padding:5px 10px;
    text-align:center;
}



#userInfo {
    width:250px;
    position:absolute;
    top:0; left:0;
}
p {



}

fieldset {
    border:0;
    padding:0; margin:0;
}
input[type=submit] {
    width: 10em;  height: 1.8em;
    position: fixed;
    left:    3em;
    bottom:   5em;
}
input[type=button] {
    width: 10em;  height: 1.8em;

}
button {
    width: 10.1em;  height: 1.8em;
}

caption {
    color: dimgray;
}

.callButton{
    width: 4.8em;  height: 1.8em;
}
.receiveButton{
    width: 6.5em;  height: 1.8em;
}

#note
{
    width:250px;
    height:65px;
}

#pointer {
    margin-left:-10px;
    margin-top:-10px;
    width:40px;
    height:40px;
    border-radius:10px;

    position:fixed;
}

.img1 {
    width: 100%;
    top: 0px;
    object-fit: contain;
}

.div1 {
    position:absolute;
    top:150px;
    left:500px;
    width: 30%;
    visibility:visible;
    z-index:5
}
.div2 {

    visibility:hidden;
    z-index:1;
}

.div3 {
    position:absolute;
    visibility:visible;
    z-index:10;
    font-family:monospace;
    font-size:20px;
    font-weight:900;
    color:black;
}
.div4 {
    position:absolute;
    visibility:hidden;
    z-index:10;
    font-family:monospace;
    font-size:20px;
    font-weight:900;
    color:black;
}




.onoffswitch {
    position: relative; width: 45px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 9px; padding: 0; line-height: 9px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 13px; margin: -2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 32px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}




.onoffswitchSent {
    position: relative; width: 45px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkboxSent {
    display: none;
}
.onoffswitch-labelSent {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-innerSent {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-innerSent:before, .onoffswitch-innerSent:after {
    display: block; float: left; width: 50%; height: 9px; padding: 0; line-height: 9px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-innerSent:before {
    content: "SENT";
    padding-left: 2px;
    background-color: #EEEEEE; color: green;
}
.onoffswitch-innerSent:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switchSent {
    display: block; width: 13px; margin: -2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 32px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkboxSent:checked + .onoffswitch-labelSent .onoffswitch-innerSent {
    margin-left: 0;
}
.onoffswitch-checkboxSent:checked + .onoffswitch-labelSent .onoffswitch-switchSent {
    right: 0px;
}




.showThis {
    display: none;
}
.showThisRefresh {
    display: block;
}
