body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


}

h2 {
    margin:0 0 .5em 0;
}

a {
    color: #00B7FF;
}

#wrapper {
    padding-left:312px;
    position:relative;
}

#userList {
    margin:0 0 30px 0;
}
table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
    width: 65%;

}
table th:not([bgcolor]) {
    background-color:#EEE;
    font-weight:400;
    padding:5px 20px;
    width: 1px;
    white-space: nowrap;

}
table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
table td:not([bgcolor]) {
    background-color:#FFF;
    padding:5px 10px;
    text-align:center;
}



#userInfo {
    width:250px;
    position:absolute;
    top:0; left:0;
}
p {



}

fieldset {
    border:0;
    padding:0; margin:0;
}
input[type=submit] {
    width: 10em;  height: 1.8em;
    position: fixed;
    left:    3em;
    bottom:   5em;
}
input[type=button] {
    width: 10em;  height: 1.8em;
    position: absolute;
    left:    3em;
    bottom:   5em;
}
caption {
    color: dimgray;
}

.backButton{
    width: 10em;  height: 1.8em;
    position: fixed;
    left:    3em;
    bottom:   2em;
}

#note
{
    width:250px;
    height:65px;
}

#pointer {
    margin-left:-10px;
    margin-top:-10px;
    width:40px;
    height:40px;
    border-radius:10px;
    position:fixed;
}

.img1 {
    width: 100%;
    top: 0px;
    object-fit: contain;
}

.div1 {
    position:absolute;
    top:200px;
    left:200px;
    width: 50%;

    visibility:visible;
    z-index:5;
}
.div2 {
    visibility:hidden;
    z-index:1;
}

.div3 {
    position:absolute;
    visibility:visible;
    z-index:10;
    font-family:monospace;
    font-size:20px;
    font-weight:900;
    color:black;
}
