<html>
<head>
    <title>Add school closed cause</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){
            var select = '';
            var myArray = $("#inUseSchoolClosedID").val().split(",").map(Number);
            for (i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1){
                    select += '<option val=' + i + '>' + i + '</option>';
                }
            }
            $('#some_select').html(select);

            var causeID,causeName;
            $("#btSubmit").click(function(){
                causeID=$("#some_select").val();
                causeName=$("#causeName").val();

                //-----forms validation------------------------------------
                if (causeName == "" ) {
                    alert("Cause  NAME must be filled out");
                    return false;
                }
                //--------------------------------forms validation end-------

                $.post("/schoolClosed/addSchoolClosed",{
                    causeID: causeID,
                    causeName: causeName
                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("School Closed ID already in use. Choose a different ID .")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<form action="/dashboard">
    <input type="submit" value="Home"><br>
</form>
<form>



    <label for="causeName"><b>School Closed cause Name:</b></label><br>
    <input type="text" id="causeName" size="40" placeholder="ex: Gas" ><br><br>

    <input type="hidden" id="inUseSchoolClosedID" value="<%= array %>">

    <% if (userAuthID == 1) {%>
    <label for="causeID"><b>School Closed ID:</b></label><br>
    <select id='some_select'></select><br><br>
    <% } else { %>
    <select id='some_select' style="display:none;"></select>
    <% } %>

</form>
<form>
    <% if (aclAddMedical == null || aclAddMedical.checkBoxValue == true) {%>
    <input type="button" id="btSubmit" value="Submit" ><br>
    <% } else { %>
    <input type="button" id="btSubmit" value="Submit" disabled><br>
    <% } %>
</form>
<form action="/schoolClosed/showSchoolClosed">
    <input type="submit" value="Back">
</form>
</body>
</html>