div.disable {
    background-color: ghostwhite;
    border: solid 2px #ccc;
    margin: auto 0em;
    padding: 1em;
    width: 550px;
}
div.enable {
    background-color: #fff;
    border: solid 2px #ccc;
    margin: auto 0em;
    padding: 1em;
    width: 550px;
}




ul.enable {
    list-style-type: none;
    width: 32.5em;
    margin: 0.3em 0;
    padding: 10px;
    background: #ffffff;
    border: solid 1px #ccc;
}
ul.disable {
    list-style-type: none;
    width: 32.5em;
    margin: 0.3em 0;
    padding: 10px;
    background: #ffffff;
    pointer-events: none;
    border: solid 1px #ccc;
}

ul.enable li {
    background: #DEF url("./../miscPictures/cross_bright.png") no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: pointer;
    color: #46A;
    font-weight: bold;
    border: solid 1px #CDE;
}
ul.disable li {
    background: #ced8ec url("./../miscPictures/cross_bright_disable.png") no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: default;
    color: #444444;
    font-weight: bold;
    border: solid 1px #CDE;
    pointer-events: none;
}

select.enable {
    width: 24em;
    color: #46A;
    font-weight: bold;
}

select.disable {
    width: 24em;
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

img.enable {
    content:url("./../miscPictures/add.png");
    cursor: pointer;
}
img.disable {
    content:url("./../miscPictures/add_disable.png");
    pointer-events: none;
    cursor: default;
}

label.enable {
    color: #000000;
    font-weight: bold;
}
label.disable {
    color: #444444;
    font-weight: bold;
}

a.enable {
    color: #46A;
    font-weight: bold;
}
a.disable {
    color: #444444;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.fontColor { color: #0D3349; }

.fontColor2 { color: black; }