
/* whoCanSendReceiveAlerts*/
.asteriskColor {
    color: #eeae4a;
}
.circlePosition {

}
.tooltipWhoCanReceive {
    position: relative;
    display: inline-block;
}
.tooltipWhoCanReceive .tooltipTextBottom {
    visibility: hidden;
    width: 500px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    top: 150%;
    left: 50%;
    margin-left: -100px;
}
.tooltipWhoCanReceive .tooltipTextBottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltipWhoCanReceive:hover .tooltipTextBottom {
    visibility: visible;
    opacity: 0.95;
}
.infoTitleColor {
    color: #eeae4a !important;
    position: absolute;
    right: 80%;
    font-size: 12px;
    font-family: Verdana;
}
.infoText {
    position: absolute;
    left: 22%;
    padding-right: 2%;
    font-size: 12px;
    font-family: Verdana;
}
/* end of whoCanSendReceiveAlerts*/