<html>
<head>
    <title>add floor</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){
            var select = '';
            var myArray = $("#inUseFloorID").val().split(",").map(Number);
            for (i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1){
                    select += '<option val=' + i + '>' + i + '</option>';
                }
            }
            $('#some_select').html(select);


            var floorID,floorName,floorPlan;
            $("#btSubmit").click(function(){
                floorID=$("#some_select").val();
                floorName=$("#floorName").val();
                floorPlan=$("#floorPlan").val();

                //-----forms validation------------------------------------
                if (floorName == "" ) {
                    alert("FLOOR NAME must be filled out");
                    return false;
                }
                //--------------------------------forms validation end-------

                $.post("/floors/addFloor",{
                    floorID: floorID,
                    floorName: floorName,
                    floorPlan: floorPlan
                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Floor ID already in use. Choose a different ID .")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<form action="/dashboard">
    <input type="submit" value="Home"><br>
</form>
<form>



    <label for="floorName"><b>Floor Name:</b></label><br>
    <input type="text" id="floorName" size="40" placeholder="ex: cafeteria" ><br><br>

    <input type="hidden" id="inUseFloorID" value="<%= array %>">

    <% if (userAuthID == 1) {%>
    <label for="floorID"><b>Floor ID:</b></label><br>
    <select id='some_select'></select><br><br>
    <% } else { %>
    <select id='some_select' style="display:none;"></select>
    <% } %>

    <input type="hidden" id="floorPlan" >
</form>
<form>
    <% if (aclAddFloor == null || aclAddFloor.checkBoxValue == true) {%>
    <input type="button" id="btSubmit" value="Submit" ><br>
    <% } else { %>
    <input type="button" id="btSubmit" value="Submit" disabled><br>
    <% } %>
</form>
<form action="/floors/showFloors">
    <input type="submit" value="Back">
</form>
</body>
</html>