<html>
<head>
    <title>show floorPlan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<img class="logo" src="/floorPlans/2floorWeb.png"><br><br>



<form action="/floors/showFloors">
    <input type="submit" value="Back">
</form>
</body>
</html>