<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        //Detect if user is using the back/foreward button, then reload whole page
        if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            console.log('Reloading');
            window.location.reload(); // reload whole page
        }
        //end of Detect if user is using the back/foreward button, then reload whole page

        // reload whole page if page is cached
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
        // end of Reload whole page if page is cached
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/gentelella/build/css/preloaderCircle.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">

    <script>
        $(document).ready(function() {
            var type = $("#typeBakRes").val();
            var redirectionPath = '/restore/restoreBackup';
            if(type === 'backup'){
                redirectionPath = '/manualBackupPost';
            }


            $.post(redirectionPath,{
                directoryName: type
            },function(data){
                if(data==='done')
                {
                    alert("login success");
                }
                window.location = data.redirect
            }).error(function(error){
                if(error.responseText == 'showAlert')
                    alert("Ops.")

            });
        });
    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <div class="right_col" role="main">

            <div class="page-title">
                <div >
                    <h3 class="title_left"><%= title %></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <ul>
                                <div align="center">

                                    <input type="hidden" id="typeBakRes" value="<%= type %>">
                                    <% if (message) { %>
                                        <!--loader-->
                                        <div id="preloader">
                                            <div class="sk-circle">
                                                <div class="sk-circle1 sk-child"></div>
                                                <div class="sk-circle2 sk-child"></div>
                                                <div class="sk-circle3 sk-child"></div>
                                                <div class="sk-circle4 sk-child"></div>
                                                <div class="sk-circle5 sk-child"></div>
                                                <div class="sk-circle6 sk-child"></div>
                                                <div class="sk-circle7 sk-child"></div>
                                                <div class="sk-circle8 sk-child"></div>
                                                <div class="sk-circle9 sk-child"></div>
                                                <div class="sk-circle10 sk-child"></div>
                                                <div class="sk-circle11 sk-child"></div>
                                                <div class="sk-circle12 sk-child"></div>
                                            </div>
                                        </div>

                                        <!--end of loader-->

                                            <%= message %>

                                    <% } %>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>

<!-- Datatables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>
