<html>
<head>
    <title>show photo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<img class="logo" src="/photosUsers/<%= users.photo %>"><br><br>



<form action="/users/showUsers">
    <input type="submit" value="Back">
</form>
</body>
</html>