
    <div class="pull-right">
        <span class="pull-right thinnerLine"> SMECS v1.0.3</span><br>
        <span class="pull-right thinnerLine"> Made by <a href="https://bansheeus.com">BansheeUS.com</a></span>
    </div>

