

<!-- Custom Theme Style -->
<link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
<link href="/public/gentelella/build/css/showAvatar.css" rel="stylesheet">

<div class="navbar nav_title" style="border: 0;">
   <!-- <a href="/dashboard" class="site_title"><i class="fa fa-graduation-cap"></i> <span>St. Theresa of Avila School</span></a> -->
    <a href="/dashboard" class="site_title"><img src="/schoolLogos/logoStThRec2.png"> <span><img src="/schoolLogos/font.png"></span></a>
</div>

<div class="clearfix"></div>

<div class="profile clearfix">
    <div class="profile_pic">
        <% if (user.photo == "" || user.photo == undefined) { %>
            <img src="/photosNotAvailable/photoNotAvailable.bmp" alt="..." class="img-circle profile_img">
        <% } else { %>
            <img src="/photosUsers/<%= userAuthPhoto %>" alt="..." class="avatarMenuProfile">
        <% } %>
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2><%= userAuthName %></h2>
    </div>
  </div>