<div class="profile clearfix">
    <div class="profile_pic">
        <% if (user.photo == "" || user.photo == undefined) { %>
            <img src="/photosNotAvailable/photoNotAvailable.bmp" alt="..." class="img-circle profile_img">
        <% } else { %>
            <img src="/photosUsers/<%= user.photo %>" alt="..." class="img-circle profile_img">
        <% } %>
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2><%= userAuthName %></h2>
    </div>
  </div>