<!-- sidebar menu -->

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
          <% if (aclSideMenu == null || aclSideMenu.users.checkBoxValue == true){%>
            <li><a href="/users/showUsers"><i class="fa fa-users"></i> Users <span class="fa fa-chevron-right"></span></a></li>
          <% } %>

          <% if (aclSideMenu == null || aclSideMenu.students.checkBoxValue == true){%>
            <li><a href="/students/showStudents"><i class="fa fa-graduation-cap"></i> Students <span class="fa fa-chevron-right"></span></a></li>
          <% } %>

          <% if (aclSideMenu == null || aclSideMenu.roles2.checkBoxValue == true){%>
          <li><a href="/roles2/showRoles2"><i class="fa fa-graduation-cap"></i> Roles <span class="fa fa-chevron-right"></span></a></li>
          <% } %>

          <% if (aclSideMenu == null || aclSideMenu.privilege.checkBoxValue == true){%>
          <li><a href="/privilege/showPrivilege"><i class="fa fa-graduation-cap"></i> Privileges <span class="fa fa-chevron-right"></span></a></li>
          <% } %>


        <li><a><i class="fa fa-bell"></i> Alerts & Groups <span class="fa fa-chevron-right"></span></a>
          <ul class="nav child_menu">
            <li><a href="/alertGroups/showAlertGroups">Alert Groups</a></li>
            <li><a href="/alerts/showAlerts">Alerts</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-check"></i> Who can send alerts <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/alerts/showAlertPermissionsTableReal">Real</a></li>
            <li><a href="/alerts/showAlertPermissionsTableTest">Test</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-cogs"></i> Permissions <span class="fa fa-chevron-right"></span></a>
          <ul class="nav child_menu">
            <li><a href="/permissionGroups/showPermissionsGroup">Permission Groups</a></li>
            <li><a href="/permissions/showPermissions">Permissions</a></li>
            <li><a href="/permissions/showPermissionsTable">Permissions Table</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-building"></i> Building <span class="fa fa-chevron-right"></span></a>
          <ul class="nav child_menu">
            <li><a href="/floors/showFloors">Floors</a></li>
            <li><a href="/options/rooms">Rooms</a></li>
            <li><a href="/utilities/showUtilities">Utilities</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-medkit"></i> Medical <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/medical/showMedical">Medical</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bullhorn"></i> PA <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/pa/showPa">PA</a></li>
            <li><a href="/pa/showRecorded">Recorded</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-exclamation"></i> Alerts <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/reports/showReports">Reports</a></li>
            <li><a href="/alerts/sending/chooseGroup">Send Alert</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->