
<script>
    function confirmYN(type, optionName) {
        if (confirm('ATTENTION: Backup make take a few seconds to complete. Are you sure you want to continue?')){
            window.location.replace("/inProgressBackup/backup");
            return true;
        }

        else
            return false;
    };
</script>

<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>


            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="/logout" class="btn">
                        Logout
                        <span class="fa fa-sign-out-alt"></span>
                    </a>
                </li>

                <li>
                    <% if (aclSideMenu == null || aclSideMenu.topNavigationButtons.checkBoxValue == true){%>
                        <button style="margin-top: 15px" class="btn btn-dark" id="newYear" onclick="location.href=''">New School Year</button>
                        <!-- <button style="margin-top: 15px" class="btn btn-dark" id="newYear" onclick="location.href='/inProgressBackup/backup'">Backup</button> -->
                        <button style="margin-top: 15px" class="btn btn-dark" id="newYear" onclick="return(confirmYN())">Backup</button>
                        <button style="margin-top: 15px" class="btn btn-dark" id="newYear" onclick="location.href='/restore/showBackups'">Restore</button>
                        <button style="margin-top: 15px" class="btn btn-dark" id="newYear" onclick="location.href=''">Reset settings</button>
                    <% } %>

                </li>

            </ul>
        </nav>
    </div>
</div>