
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>






    <script>
        $(document).ready(function(){

            var oldSortID = $("#oldSortID").val();
            var select_sort = '';
            var sortArray = $("#inUseSortID").val().split(",").map(Number);
            for (var a=1;a<=99;a++){
                if(sortArray.indexOf(a) == -1 || a == oldSortID){
                    if(a == oldSortID){
                        select_sort += '<option val=' + a + ' selected="selected">' + a + '</option>';
                    }else{
                        select_sort += '<option val=' + a + '>' + a + '</option>';
                    }
                }
            }
            $('#sort_select').html(select_sort);

            var select = '';
            var myArray = $("#inUseAlertGroupID").val().split(",").map(Number);
            for (var i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1){
                    select += '<option val=' + i + '>' + i + '</option>';
                }
            }
            $('#some_select').html(select);


            var functionID,functionName,sortID, pageToReturn;
            $("#btSubmit").click(function(){
                functionID=$("#some_select").val();
                functionName=$("#alertGroupName").val();
                sortID=$("#sort_select").val();
                pageToReturn=$("#pageToReturn").val();


                //-----forms validation------------------------------------
                if (functionName == "" ) {
                    alert("Function Name must be filled out");
                    return false;
                }
                if (functionID == "" ) {
                    alert("Function ID must be filled out");
                    return false;
                }
                //--------------------------------forms validation end-------


                $.post("/AlertRoadFunctions",{
                    functionID: functionID,
                    functionName: functionName,
                    sortID: sortID,
                    pageToReturn: pageToReturn


                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Function NAME already in use. Choose a different Name.")
                });

            });
        });
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../../../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../../../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../../../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3>Create Function</h3>
                </div>



                <div class="title_right">

                    <div class="pull-left">
                        <button type="button"
                                id="btSubmit"
                                value="Submit"
                                class="btn btn-success">Save
                        </button>
                        <a href="/alerts/showRoad/<%= pageToReturn %>"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>



            <input type="hidden" id="pageToReturn" value="<%= pageToReturn %>">

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Function name:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="saveFloor"
                                               id="alertGroupName">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sort number:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="hidden" id="inUseSortID" value="<%= arraySort %>">
                                        <select id='sort_select' class="form-control"></select>
                                    </div>
                                </div>

                                <input type="hidden" id="inUseAlertGroupID" value="<%= array %>">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Function ID:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='some_select' class="form-control"></select>
                                    </div>
                                </div>


                            </form>
                            <div class="ln_solid"></div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <!-- /page content -->

    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>


</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ./../../../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>